​* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	background-color: rgba(240,240,240,1);
	margin: 0px;
}
nav {
  border: 1px solid black;
  padding: 1.6% 3.17%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
  background: -webkit-linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
  background: -moz-linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
    }
.uldropdown{
  visibility: hidden;
  position: absolute;
  border: 1px solid black;
  padding: 0px;
  right: -10px;
  bottom: -335px;
  background: linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
  background: -webkit-linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
  background: -moz-linear-gradient(bottom, rgba(230,140,200,1), rgba(250,250,250,1));
}
.dropdown:hover .uldropdown {
  visibility: visible;
  position: absolute;
}
.dropdownli {
  display: block;
  padding: 23px 10px;
  border: 1px solid black;
}
h1 {
  text-align: center;
  font-family: sofia, sans-serif;
  color: rgba(0,0,0,1);
  font-size: 80px;
  margin: 0;
}

h2 {
	text-align: center;
	font-family: sofia, sans-serif;
	font-size: 32px;
}
.subheading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 0;
}
header {
	background-image: url("http://www.abrideidea.com/assets/images/site/header-background.png");
  position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-color: rgba(250,250,250,1);
	padding: 75px 0px;
  margin: 0px;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
main {
	text-align: center;
	padding: 10px 0px 10px 0px;
	background-color: rgba(250,250,250,1);
	margin: 0;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
p {
	font-family: "bubbler one", sans-serif;
	font-size: 22px;
}
a {
  color: inherit;
}
img {
width: 50%;
height: auto;
border-radius: 400px;
border: 3px solid black;
}
footer {
  padding: 2rem;
  background-color: rgba(210,210,210,1);
  text-align: center;
  border-bottom: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
ul {
text-align: left;
margin: 0;
}
li {
padding: 20px 46.65px;
font-family: "bubbler one", sans-serif;
font-size: 24px;
font-weight: bold;
list-style: none;
display: inline;
text-align: center;
border: 1px solid transparent;
margin-left: -1px;
}
li:hover {
	background: rgba(250,250,250,1);
  border: 1px solid black;
  position: relative;
}
.wrap {
	padding: 0px 200px 0px 200px;
	margin: 0px;
}
@media (max-width: 500px) {

.wrap {
visibility: hidden;
}
}